*{
	/*outline: 1px dotted red;*/
}
.container{
	width: 970px;
	height: 1000px;
	background-color: black;
	margin:0 auto;
}
	.header{
		width: 100%;
		height: 68px;
		background: linear-gradient(#dcdcdc,white,white);
	}
		.header img{
			margin-left: 30px;
		}
		.header h3{
			display: inline-block;
			font-family: verdana;
			font-weight: 600;
			vertical-align: top;
			margin: 0;
			padding: 30px 20px 0 200px;
		}
	.menu{
		width: 100%;
		height: 60px;
		background: linear-gradient(white,silver,white,white,white);
		border-top: 1px solid gray;
	}
		.menu ul{
			list-style-type: none;
			margin:0;
			margin-top: 2px;
			vertical-align: top;
		}
		.menu li{
			font-family: verdana;
			font-weight: 600;
			font-size: 11px;
			padding: 10px;
			color: #696969;
			display: inline-block;			/*margin: 0 px 0 0;*/
			border-right: 1px solid #a9a9a9;
		}
		.menu li:first-child{
			border-left: 1px solid #a9a9a9;
		}
	.midleft{
		width: 387px;
		height: 265px;
		background: white;
		margin-top: 15px;
		margin-left: 35px;
		display: inline-block;
	}
		.midleft img{
			margin: 5px;
		}
	.midhead{
		width: 500px;
		height: 30px;
		margin: 15px 0 0 15px;
		background: linear-gradient(khaki, gold, khaki);
		display: inline-block;
		vertical-align: top;
	}
		.midhead h4{
						color: black;
			font-family: verdana;
			font-size: 12px;
			font-weight: 600;
			margin:0;
			padding: 7px 0 7px 10px;
		}
	.midright{
		width: 500px;
		height: 236px;
		background: linear-gradient(to right, gray, #696969);
		vertical-align: top;
		/*margin: 15px 0 0 15px;*/
		display: inline-block;
		/*margin-left: 10px;*/
		color: white;
	}
		.midright h5{
			padding-left: 15px;
			font-family: verdana;
			margin-bottom: 15px;

		}
		.midright p{
			margin-top: 0;
			padding-left: 15px;
			font-size: 12px;
			font-family: sans-serif;
		}

